.git                                                                                                                                                                
.github                                                                                                                                                             
.gemini                                                                                                                                                             
.gitignore                                                                                                                                                          
Dockerfile
.dockerignore
README.txt
dashcube.zip
README.md
gd-assets/
geometry-dash-assets/
plan.assets/
plan.assets/assets/
plan.assets/js/
screenshot/
UPDATE_GDF_V1.2.beta.md
UPDATE_GDF_V1.3.
.cache/